.thumbnails
bin
data/.thumbnails
data/microprofile_dump_html
junk
obj
source/x64
source/cmake-build*
CMakeCache.txt
source/**/*.obj
unigine_editor.cfg
*.cache
*.modified
*.tlog
build-*
CMakeFiles
CMakeScripts
cmake_install.cmake
CMakeUserPresets.json
compile_commands.json
CTestTestfile.cmake
data/.cache_textures
include
data/.runtimes
data/.editor2
data/guids.db
lib/
.idea/

